<!-- views/profile.ejs -->

<% include partials/head %>

<body>

<% include partials/header %>

<div class="container">

    <div class="jumbotron">
        <h1>Profile Page</h1>
        <hr>

        <!-- LOCAL INFORMATION -->
        <% if (user.local.username) { %>
        <div class="well">
            <h3><span class="fa fa-user"></span> Local user:</h3>

                <p>
                    <strong>Username</strong>: <%= user.local.username %><br>
                    <strong>Email</strong>: <%= user.local.email %><br>
                    <strong>First Name</strong>: <%= user.local.firstName %><br>
                    <strong>Last Name</strong>: <%= user.local.lastName %>
                </p>

        </div>
        <% } %>

        <!-- GOOGLE INFORMATION -->
        <% if (user.google.id) { %>
        <div class="well">
            <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google user:</h3>

                <p>
                    <!--
                    <strong>id</strong>: <%= user.google.id %><br>
                    <strong>token</strong>: <%= user.google.token %><br>
                    -->
                    <strong>email</strong>: <%= user.google.email %><br>
                    <strong>name</strong>: <%= user.google.name %>
                </p>

        </div>
        <% } %>

    </div>
</div>

<% include partials/footer %>

</body>
</html>